<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanks for playing!</title>
    <!-- Link to goodbye page CSS -->
    <link rel="stylesheet" th:href="@{/css/goodbye.css}">
</head>
<body>

<!-- Main container for goodbye message -->
<div class="goodbyeText">
    <!-- Heading for the farewell message -->
    <h1>Thank you for playing Owl Catcher!</h1>

    <!-- Instruction to the user -->
    <p>You have ended the program, it is now safe to close this window.</p>
</div>

</body>
</html>