<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owl Catcher</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<div class="home-container">
    <h1>Owl Catcher</h1>
    <p>Explore the forest and catch the owl:</p>
    <div class="home-owl">
        <img src="/img/owl.svg" alt="White Owl">
    </div>
    <p>Use the A and D keys (or the arrow keys) to move left and right respectively.</p>
    <p>Once you see the owl, click on it to win the game. Be quick, the owl moves fast!</p>
    <button id="startBtn">Start Game</button>
    <button class="endBtn">End Program</button>
</div>

<script th:src="@{/js/home.js}"></script>
</body>
</html>